<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: darkgray;
        }
        
        .titles {
            padding-top: 10px;
            color: lightblue;
            font-family: Georgia;
        }
        
        .links {
            padding-left: 850px;
        }
    </style>
    <title> namaste
    </title>
</head>

<body>
    <h1 class="titles"> namaste </h1>


    <a href="weather">
        <img class="links" alt="Qries" src="https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-cloudy-weather-icon-image_1198147.jpg" width="50px" height="50px">
</body>

</html>